{% extends "main.html" %}
{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}&nbsp;&nbsp;&nbsp;{{ form.email(size=32) }}<br />
            {% for error in form.email.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}
        </p>
        <p>
            {{ form.password.label }}&nbsp;&nbsp;&nbsp;{{ form.password(size=32) }}<br />
            {% for error in form.password.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}
        </p>
        <p>{{ form.save_session() }}&nbsp;&nbsp;{{ form.save_session.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}