<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }} — SimpleJob</title>
        {% else %}
        <title>SimpleJob</title>
        {% endif %}
    </head>
    <body>
        <header>
            <div>Menu:
                <a href="{{ url_for('main_page') }}">Home</a>
                <a href="{{ url_for('admin_login') }}">adminCP: Login</a>
            </div>
            <hr>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <p style="align-content: center">angu1ss © 2019</p>
        </footer>
    </body>
</html>